/* should be used to outline very general styling rules and pseudo elements like :hover or anims */
:root {
    /* palette */
    --c-color-generic: blue;
}

/* named */
#GAMESPACE { position: relative }

.scene-object { position: absolute }

/* main menu */
.main-menu-button {
    cursor: pointer;
}

.main-menu-button img:first-child {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.main-menu-button:hover img:first-child {
    opacity: 100%;
}

.main-menu-button img:last-child {
    top: 6px;
    left: 110px;
    filter: brightness(100%);
    transition: left .5s ease-in-out, filter .5s ease-in-out;
}

.main-menu-button:hover img:last-child {
    left: 150px;
    filter: brightness(0);
}